
img{
	width:30%;
	float: left;
	margin: 1.667%;
	border-radius: 5%;
}

html{
	width: 100%;
}
h1{
	margin-left:1.667%;
	margin-right:1.667%;
	font-size: 200%;
	font-family: 'Arial', serif;
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 0 0 3px white;
	padding-bottom: 20px;
	border-bottom: 5px solid #EF271B;
	border-right: 5px solid #EF271B;
	text-align:right;
	padding-right: 30px;
	border-radius: 50px;
	color:#cdcdcd;
	
}

img{
	opacity: 0.7;   
}
img:hover{
	width: 30%;
	border-radius: 20%;
	opacity: 1.0;
	}	

body{
		background:#232323;
		background-size: cover;
}
